#custom-seekbar
{  
  cursor: pointer;
  height: 10px;
  margin-bottom: 10px;
  outline: thin solid rgb(255, 0, 0);
  overflow: hidden;
  position: relative;
  width: 400px;
}
#custom-seekbar span
{
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
}
